RewriteEngine on
RewriteCond %{HTTP_HOST} juan-burgos.com [NC,OR]
RewriteCond %{HTTP_HOST} www.juan-burgos.com [NC]
RewriteRule ^(.*)$ http://burgos.io/$1 [L,R=301,NC]

Redirect 302 http://www.juan-burgos.com/ http://burgos.io
Redirect 302 http://www.juan-burgos.com/About-Juan.html http://burgos.io
Redirect 302 http://www.juan-burgos.com/Portfolio/ http://burgos.io
Redirect 302 http://www.juan-burgos.com/Portfolio/floridalambdas.html http://burgos.io
Redirect 302 http://www.juan-burgos.com/Portfolio/golfliveextra.html http://burgos.io
Redirect 302 http://www.juan-burgos.com/Portfolio/shirt.html http://burgos.io
Redirect 302 http://www.juan-burgos.com/Portfolio/fathersday.html http://burgos.io
Redirect 302 http://www.juan-burgos.com/Portfolio/evite.html http://burgos.io
Redirect 302 http://www.juan-burgos.com/Portfolio/typeportrait.html http://burgos.io
Redirect 302 http://www.juan-burgos.com/Portfolio/fourthpromo.html http://burgos.io
Redirect 302 http://www.juan-burgos.com/Portfolio/personallogo.html http://burgos.io
Redirect 302 http://www.juan-burgos.com/Portfolio/movember.html http://burgos.io
Redirect 302 http://www.juan-burgos.com/Portfolio/fraternityflyer.html http://burgos.io
Redirect 302 http://www.juan-burgos.com/Portfolio/fraternityflyer2.html http://burgos.io
Redirect 302 http://www.juan-burgos.com/Portfolio/weddinginvite.html http://burgos.io
Redirect 302 http://www.juan-burgos.com/Portfolio/ncaatoolkit.html http://burgos.io
Redirect 302 http://www.juan-burgos.com/Portfolio/conferencelogo.html http://burgos.io
Redirect 302 http://www.juan-burgos.com/Portfolio/typeposter.html http://burgos.io
Redirect 302 http://www.juan-burgos.com/Portfolio/toylogo.html http://burgos.io
Redirect 302 http://www.juan-burgos.com/Portfolio/golftwitter.html http://burgos.io
Redirect 302 http://www.juan-burgos.com/Contact-Juan.html http://burgos.io
Redirect 302 http://www.juan-burgos.com/Work-By-Juan.html http://burgos.io
Redirect 302 http://www.juan-burgos.com/includes/JuanBurgos_resume.pdf http://burgos.io
Redirect 302 http://www.juan-burgos.com/includes/work_footer.html http://burgos.io
